<a href="https://colab.research.google.com/github/stacykeago/MORINGA-WEEK-3-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_STACY_KEAGO_PYTHON_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import panda

In [1]:
# Importing our pandas library 
import pandas as pd

# Read the data

In [10]:
#Read the data and preview
df = pd.read_csv('/content/Autolib_dataset (2).csv')
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Accessing dataset information

In [11]:
print(df.columns)
print(df.shape)
print(df.isnull().sum())

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')
(5000, 25)
Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# count the number of non - missing values

In [12]:
# count the number of non - missing values 
df.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

# Count the number of missing values

In [13]:
#Get the number of missing rows by subtracting the rows from the non-missing rows

num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# Drop missing values

In [47]:
# Drop missing values
df.dropna()

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

# RESEARCH QUESTIONS

# Main research question

In [58]:
#Research Question

# Identify the most popular hour of the day for picking up a shared electric car 
#(Bluecar) in the city of Paris over the month of April 2018.

new =df.filter(items=['Bluecar counter', 'city','month', 'hour'])
print(new)

      Bluecar counter  month  hour
0                   0      4    11
1                   6      4     7
2                   3      4    20
3                   3      4     4
4                   3      4    17
...               ...    ...   ...
4995                2      4    11
4996                4      4    16
4997                1      4     7
4998                2      4    17
4999                4      4    10

[5000 rows x 3 columns]

In [60]:
mode_new = (new['hour']).mode()
print(mode_new)

0    21
dtype: int64

# 1 popular hour for returning cars

In [34]:
#What is the most popular hour for returning cars?
# column name =hour

mode_hour = (df['hour']).mode()
#df.mode()
print(mode_hour)

0    21
dtype: int64

# 2 Popular station

In [36]:
#What station is the most popular?
# a. Overall?
popular_station = (df['Public name']).mode()
print(popular_station)

0    Paris/Porte de Montrouge/8
dtype: object

In [ ]:
# b. At the most popular picking hour?

popular_station = (df['Public name']).mode()
print(popular_station)

# 4. most popular for picking up Blue cars

In [49]:
#What postal code is the most popular for picking up Blue cars?
# 1. SELECT TWO COLUMNS:  'Bluecar counter' AND 'Postal code'
# 2. GET MOST POPULAR POSTAL CODE

bluecar_postalcode =df.filter(items=['Bluecar counter', 'Postal code'])
print(bluecar_postalcode)

      Bluecar counter  Postal code
0                   0        75015
1                   6        75014
2                   3        93350
3                   3        75013
4                   3        75017
...               ...          ...
4995                2        92700
4996                4        75015
4997                1        75007
4998                2        94120
4999                4        75018

[5000 rows x 2 columns]

In [46]:
# 2. GET MOST POPULAR POSTAL CODE
popular_bluecar_postalcode = (bluecar_postalcode['Postal code']).mode()
print(popular_bluecar_postalcode)

0    75015
dtype: int64